.LoginCard{
    margin-top: 30vh;
    display: flex;
    justify-content: center;
}

.FormCard{
    border: 1px solid blue;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    padding-bottom: 45px;
}
label{
    margin-top: 5px;
}
.InputGroup{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input{
    width: 90%;
    border: none;
    height: 30px;
    font-size: 16px;
}
input:focus{
    outline: none;
}
.Icon{
    height: 20px;
}
.SubmitButtonGroup{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.SubmitButton{
    height: 30px;
    width: 50%;
    border-radius: 5px;
    background-color: bisque;
}
.SubmitButton:focus{
    border: none;
    color: bisque;
    background-color: black;
}