.DrawerToggle {
    width: 30px;
    height: 42px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    left: 15px;
}

.DrawerToggle div {
    width: 90%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(131, 163, 13);

}

@media (min-width: 799px) {
    .DrawerToggle {
        display: none;
    }
}