.SideDrawer{
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: rgb(131, 163, 13);
    z-index: 10;
    transition: transform 0.3s ease-out;
}

@media (min-width: 799px){
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0);
}
.Close{
    transform: translateX(-100%);
}
