.SideDrawer{
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: rgb(131, 163, 13);
    /* background-color: rgb(84, 99, 29); */
    z-index: 11;
    transition: transform 0.5s ease-out;
}

@media (min-width: 799px){
    .SideDrawer{
        width: 30%;
    }
}

.Open{
    transform: translateX(0);
}
.Close{
    transform: translateX(-100%);
}
